*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: flex;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "League Spartan";
  background: url("../images/body-img1.svg"), url("../images/body-img2.svg");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}
