@mixin font($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin responsive($divice) {
  @if $divice == tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $divice == mobile {
    @media screen and (max-width: 700px) {
      @content;
    }
  }
}
